.*venv
datasets/*/original_dataset
datasets/*/train.csv
datasets/*/test.csv
datasets/*/label_encoder.pkl
datasets/*/saved_classifier_models
datasets/*/classifier_metrics
classifiers/__pycache__
classifiers_backup

.env
long_term_memory.json

__pycache__
.DS_Store
raw_datasets
saved_models
*.csv
*.pkl
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jsonl.gz.part.1
*.jsonl.gz.part.2